{{template "mainLayout"}}
{{define "pageStyle"}}
<link rel="stylesheet" href="/static/css/index.css"/>
{{end}}

{{define "pageScript"}}
<script type="text/javascript" src="/static/library/typed.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
{{end}}

{{define "section_header"}}
<div class="itemList">

</div>
{{end}}
{{define "section_footer"}}
<div class="footer">
	This page was created by a DJ.
</div>
{{end}}